<h1>New Recipe</h1>
  <%= form_tag :action => 'create', recipe: @recipe do %>
<p><label for="recipe_title">Title</label>
  <%= text_field :recipe, :title %> </p>
<p>
  <label for="recipe_instructions">Description</label>
  <%= text_field :recipe, :instructions %>
</p>
  <%= check_box :recipe, :ok %>





<%= submit_tag "Add Ingredients" %>
<%end -%>
<%= link_to 'Back', recipes_path %>
